<script type="text/javascript">
    click_status = [0, 0, 0, 0, 0];

    function click_on_check(num) {
        if (click_status[num] == 0) {
            console.log('penis');
            document.getElementById("dice-" + num).checked = true;
            document.getElementById("dice-image-" + num).style.backgroundColor = '#E1E1FF';
        } else {
            document.getElementById("dice-" + num).checked = false;
            document.getElementById("dice-image-" + num).style.backgroundColor = 'white';
        }

        click_status[num] ^= 1;
    };
</script>

<div style="display:flex">
  <div style="width:auto; flex:1"></div>
  <div style="width:100%; max-width:800px">


    <div style="display:flex; margin-bottom:15px;">
      <div style="width:auto; flex:1"></div>
      <% (0..4).each do |i| %>
        <div id="dice-image-<%= i %>" style="width:75px; border-radius:10px; display:inline-block; margin: 0px 10px;">
          <% if @game.data.dices[i] == 1 %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>			<path d="M299.138,255c0-24.717-19.421-44.138-44.138-44.138S210.862,230.283,210.862,255s19.421,44.138,44.138,44.138     S299.138,279.717,299.138,255z M228.517,255c0-15.007,11.476-26.483,26.483-26.483s26.483,11.476,26.483,26.483     S270.007,281.483,255,281.483S228.517,270.007,228.517,255z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% elsif @game.data.dices[i] == 2 %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>			<path d="M193.207,149.069c0-24.717-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138     S193.207,173.786,193.207,149.069z M122.586,149.069c0-15.007,11.476-26.483,26.483-26.483s26.483,11.476,26.483,26.483     s-11.476,26.483-26.483,26.483S122.586,164.076,122.586,149.069z" fill="#91DC5A"/>			<path d="M360.931,316.793c-24.717,0-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138s44.138-19.421,44.138-44.138     S385.648,316.793,360.931,316.793z M360.931,387.414c-15.007,0-26.483-11.476-26.483-26.483s11.476-26.483,26.483-26.483     s26.483,11.476,26.483,26.483S375.938,387.414,360.931,387.414z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% elsif @game.data.dices[i] == 3 %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>			<path d="M193.207,149.069c0-24.717-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138     S193.207,173.786,193.207,149.069z M122.586,149.069c0-15.007,11.476-26.483,26.483-26.483s26.483,11.476,26.483,26.483     s-11.476,26.483-26.483,26.483S122.586,164.076,122.586,149.069z" fill="#91DC5A"/>			<path d="M360.931,316.793c-24.717,0-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138s44.138-19.421,44.138-44.138     S385.648,316.793,360.931,316.793z M360.931,387.414c-15.007,0-26.483-11.476-26.483-26.483s11.476-26.483,26.483-26.483     s26.483,11.476,26.483,26.483S375.938,387.414,360.931,387.414z" fill="#91DC5A"/>			<path d="M299.138,255c0-24.717-19.421-44.138-44.138-44.138S210.862,230.283,210.862,255s19.421,44.138,44.138,44.138     S299.138,279.717,299.138,255z M228.517,255c0-15.007,11.476-26.483,26.483-26.483s26.483,11.476,26.483,26.483     S270.007,281.483,255,281.483S228.517,270.007,228.517,255z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% elsif @game.data.dices[i] == 4 %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>			<path d="M149.069,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,193.207,149.069,193.207z M149.069,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,122.586,149.069,122.586z" fill="#91DC5A"/>			<path d="M360.931,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S336.214,193.207,360.931,193.207z M360.931,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S345.924,122.586,360.931,122.586z" fill="#91DC5A"/>			<path d="M360.931,316.793c-24.717,0-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138s44.138-19.421,44.138-44.138     S385.648,316.793,360.931,316.793z M360.931,387.414c-15.007,0-26.483-11.476-26.483-26.483s11.476-26.483,26.483-26.483     s26.483,11.476,26.483,26.483S375.938,387.414,360.931,387.414z" fill="#91DC5A"/>			<path d="M149.069,405.069c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,405.069,149.069,405.069z M149.069,334.448c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,334.448,149.069,334.448z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% elsif @game.data.dices[i] == 5 %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M299.138,255c0-24.717-19.421-44.138-44.138-44.138S210.862,230.283,210.862,255s19.421,44.138,44.138,44.138     S299.138,279.717,299.138,255z M228.517,255c0-15.007,11.476-26.483,26.483-26.483s26.483,11.476,26.483,26.483     S270.007,281.483,255,281.483S228.517,270.007,228.517,255z" fill="#91DC5A"/>			<path d="M149.069,405.069c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,405.069,149.069,405.069z M149.069,334.448c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,334.448,149.069,334.448z" fill="#91DC5A"/>			<path d="M149.069,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,193.207,149.069,193.207z M149.069,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,122.586,149.069,122.586z" fill="#91DC5A"/>			<path d="M360.931,316.793c-24.717,0-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138s44.138-19.421,44.138-44.138     S385.648,316.793,360.931,316.793z M360.931,387.414c-15.007,0-26.483-11.476-26.483-26.483s11.476-26.483,26.483-26.483     s26.483,11.476,26.483,26.483S375.938,387.414,360.931,387.414z" fill="#91DC5A"/>			<path d="M360.931,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S336.214,193.207,360.931,193.207z M360.931,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S345.924,122.586,360.931,122.586z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 75 75;" xml:space="preserve" width="75px" height="75px"><g transform="translate(1 1)">	<g>		<g>			<path d="M466.862-1H43.138C18.421-1-1,18.421-1,43.138v423.724C-1,491.579,18.421,511,43.138,511h423.724     C491.579,511,511,491.579,511,466.862V43.138C511,18.421,491.579-1,466.862-1z M493.345,466.862     c0,15.007-11.476,26.483-26.483,26.483H43.138c-15.007,0-26.483-11.476-26.483-26.483V43.138     c0-15.007,11.476-26.483,26.483-26.483h423.724c15.007,0,26.483,11.476,26.483,26.483V466.862z" fill="#91DC5A"/>			<path d="M360.931,299.138c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138S316.793,230.283,316.793,255     S336.214,299.138,360.931,299.138z M360.931,228.517c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     S334.448,270.007,334.448,255S345.924,228.517,360.931,228.517z" fill="#91DC5A"/>			<path d="M149.069,299.138c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138S104.931,230.283,104.931,255     S124.352,299.138,149.069,299.138z M149.069,228.517c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     S122.586,270.007,122.586,255S134.062,228.517,149.069,228.517z" fill="#91DC5A"/>			<path d="M149.069,405.069c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,405.069,149.069,405.069z M149.069,334.448c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,334.448,149.069,334.448z" fill="#91DC5A"/>			<path d="M149.069,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S124.352,193.207,149.069,193.207z M149.069,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S134.062,122.586,149.069,122.586z" fill="#91DC5A"/>			<path d="M360.931,316.793c-24.717,0-44.138,19.421-44.138,44.138s19.421,44.138,44.138,44.138s44.138-19.421,44.138-44.138     S385.648,316.793,360.931,316.793z M360.931,387.414c-15.007,0-26.483-11.476-26.483-26.483s11.476-26.483,26.483-26.483     s26.483,11.476,26.483,26.483S375.938,387.414,360.931,387.414z" fill="#91DC5A"/>			<path d="M360.931,193.207c24.717,0,44.138-19.421,44.138-44.138s-19.421-44.138-44.138-44.138s-44.138,19.421-44.138,44.138     S336.214,193.207,360.931,193.207z M360.931,122.586c15.007,0,26.483,11.476,26.483,26.483s-11.476,26.483-26.483,26.483     s-26.483-11.476-26.483-26.483S345.924,122.586,360.931,122.586z" fill="#91DC5A"/>			<path d="M378.586,449.207H65.207c-2.648,0-4.414-1.766-4.414-4.414V175.552c0-5.297-3.531-8.828-8.828-8.828     s-8.828,3.531-8.828,8.828v269.241c0,12.359,9.71,22.069,22.069,22.069h313.379c5.297,0,8.828-3.531,8.828-8.828     C387.414,452.738,383.883,449.207,378.586,449.207z" fill="#91DC5A"/>			<path d="M444.793,43.138H65.207c-12.359,0-22.069,9.71-22.069,22.069v39.724c0,5.297,3.531,8.828,8.828,8.828     s8.828-3.531,8.828-8.828V65.207c0-2.648,1.766-4.414,4.414-4.414h379.586c2.648,0,4.414,1.766,4.414,4.414v379.586     c0,2.648-1.766,4.414-4.414,4.414h-30.897c-5.297,0-8.828,3.531-8.828,8.828c0,5.297,3.531,8.828,8.828,8.828h30.897     c12.359,0,22.069-9.71,22.069-22.069V65.207C466.862,52.848,457.152,43.138,444.793,43.138z" fill="#91DC5A"/>			<path d="M51.966,149.069c5.297,0,8.828-3.531,8.828-8.828s-3.531-8.828-8.828-8.828s-8.828,3.531-8.828,8.828     S46.669,149.069,51.966,149.069z" fill="#91DC5A"/>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <% end %>
        </div>
      <% end %>
      <div style="width:auto; flex:1"></div>
    </div>


    <% if current_user.id == @game.user_to_move_id && @game.data.step == 1 %>
      <script type="text/javascript">
          setTimeout(function(){
              document.getElementById("dice-image-0").addEventListener("click", function(){ click_on_check(0); });
              document.getElementById("dice-image-1").addEventListener("click", function(){ click_on_check(1); });
              document.getElementById("dice-image-2").addEventListener("click", function(){ click_on_check(2); });
              document.getElementById("dice-image-3").addEventListener("click", function(){ click_on_check(3); });
              document.getElementById("dice-image-4").addEventListener("click", function(){ click_on_check(4); });
          }, 20);
      </script>

      <div style="display:flex; margin: 0px 0px 15px 0px">
        <div style="width:auto; flex:1"></div>
        <div>
          <form action='/game/<%=@game.id %>' method='post'>
            <input name="_method" type="hidden" value="patch" />
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="type" value="re_roll">

            <% (0..4).each do |i| %>
              <input style="display:none" type="checkbox" id="dice-<%= i %>" name="<%= i %>" value="1">
            <% end %>
            <input type="submit">
          </form>
        </div>
        <div style="width:auto; flex:1"></div>
      </div>
    <% end %>


    <% if current_user.id == @game.user_to_move_id && @game.data.step == 2 %>
      <div style="display:flex; margin: 0px 0px 15px 0px">
        <div style="width:auto; flex:1"></div>
        <div>
          <form action='/game/<%=@game.id %>' method='post'>
            <input name="_method" type="hidden" value="patch" />
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="type" value="chose_move">
            <select name="move_id">
              <% @available_moves.each do |value, name| %>
                <option value="<%= value %>"> <%= name %> </option>
              <% end %>
            </select>
            <input type="submit">
          </form>
        </div>
        <div style="width:auto; flex:1"></div>
      </div>
    <% end %>

    <table class="table table-striped">
      <thead>
      <tr>
        <td></td>
        <% @game.data.user_ids.each do |uid| %>
          <th scope="col">
            <% if uid == @game.user_to_move_id %>
              <div style="color:red" >
                <%= @users[uid].name %> - <%= @game.data.details[uid]['score'] %> points
              </div>
            <% else %>
              <%= @users[uid].name %> - <%= @game.data.details[uid]['score'] %> points
            <% end %>
          </th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% (0..11).each do |move_index| %>
        <tr>
          <th scope="row">
            <%= @move_names[move_index] %>
          </th>

          <% @game.data.user_ids.each do |uid| %>
            <td>
              <% if uid == @game.user_to_move_id %>
                <% if @game.data.details[uid]['scores'][move_index] == nil %>
                  <div style="color:red">
                    <%= @game.data.current_scores[move_index] %>
                  </div>
                <% else %>
                  <%= @game.data.details[uid]['scores'][move_index] %>
                <% end %>
              <% else %>
                <% if @game.data.details[uid]['last_move'] == move_index.to_s %>
                  <div style="color:blue">
                    <%= @game.data.details[uid]['scores'][move_index] %>
                  </div>
                <% else %>
                  <%= @game.data.details[uid]['scores'][move_index] %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div style="width:auto; flex:1"></div>
</div>

